* {
  box-sizing: border-box;
}

:root {
  --primary-color: #171100;
  --secondary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  height: 10000px;
}

/* common */

.main-content {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

a.btn {
  display: inline-block;
  width: fit-content;
  padding: 20px 41px;
  border-radius: 14px;
  background: #2ac9bf;
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1.title {
  color: #0d1111;
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 116.129% */
}

h2.title {
  color: #0d1111;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* header  */

header.sticky {
  position: sticky;
  top: -27px;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

header.header {
  padding: 52px 0 25px;
}

header.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.header .nav ul {
  display: flex;
  /* gap: 39px; */
}

header.header .nav li.active a {
  font-weight: 600;
  cursor: default;
}

header.header .nav li.active:hover {
  box-shadow: none;
}

header.header .nav li {
  color: #2f3a3b;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 20px;
}

header.header .nav li:hover {
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

header.header .box-btn .sign-in {
  display: inline-block;
  color: #494949;
  line-height: normal;
  margin-right: 24px;
}

header.header .box-btn .sign-up {
  padding: 12px 24px;
  border-radius: 6px;
  background-color: #fff;
  color: #1ebfc1;
  font-size: 1.6rem;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* hero */

.hero {
  padding: 25px 0 79px;
}

.hero .container {
  display: flex;
}

/* hero info  */

.hero .info {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .info .content {
  width: 458px;
}

.hero .info .content p.sub-title {
  color: #767e7e;
  font-size: 1.4rem;
  font-style: normal;
  line-height: normal;
}

.hero .info .content h1.title {
  margin-top: 18px;
}

.hero .info .content p.desc {
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.hero .info .content .cta {
  margin-top: 52px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.hero .info .content .cta .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 22px 50px 0px #0000000d;
}

/* hero block img  */
.hero .block-img {
  width: 53%;
  height: 631px;
  position: relative;
}

.hero .block-img img.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 576px;
  height: 100%;
  object-fit: cover;
}

/* hero block-img p.text common  */
.hero .block-img p.text {
  color: #0d1111;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* course  */
.hero .block-img .courses {
  position: absolute;
  left: 0;
  top: 149px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 17px 25px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .block-img .courses p.text {
  width: 55px;
}

/* schedules  */
.hero .block-img .schedules {
  position: absolute;
  left: 0;
  bottom: 46px;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .block-img .schedules p.text {
  margin-bottom: 16px;
}

/* students  */

.hero .block-img .students {
  position: absolute;
  right: 45px;
  bottom: 41px;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .block-img .students .avatar {
  margin-top: 8px;
  display: flex;
}

.hero .block-img .students .avatar .box {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -7px;
}
.hero .block-img .students .avatar .box:first-child {
  margin-left: 0;
}

.hero .block-img .students .avatar .box:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero .block-img .students .avatar .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* features  */

.features {
  padding: 130px 0;
}

.features .container {
  width: 1024px;
}

.features p.subtitle {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.features p.desc {
  width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.features h2.title {
  margin: 18px 0;
  width: 557px;
}

.features .box {
  margin-top: 80px;
  display: flex;
}

.features .box .item-1 {
  width: 168px;
  margin-right: 209px;
}

.features .box .item-2 {
  width: 223px;
  margin-right: 200px;
}

.features .box .item-3 {
  width: 224px;
}

.features .box .icon {
  width: 102px;
  height: 106px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features .box .monitor {
  background-color: #ffc147;
}

.features .box .discuss {
  background-color: #ff947a;
}

.features .box .talk {
  background-color: #bf83ff;
}

.features .box p.title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.features .box p.text {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

/* popular course  */

.popular {
  padding-bottom: 130px;
}

.popular p.subtitle {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popular h2.title {
  margin-top: 18px;
}

.popular p.desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.popular .all-course {
  padding: 21px 0;
  margin-left: auto;
  color: #1ebfc1;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.popular .box {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
  gap: 47px;
}

.popular .box .item {
  width: calc(33.33% - 31px);
  position: relative;
}

.popular .box .box-img {
  position: relative;
  width: 359px;
  height: 393px;
  border-radius: 8px;
  overflow: hidden;
}

.popular .box .box-img .curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 359px;
  height: 393px;
  opacity: 0.35;
  background: #d0efed;
}

.popular .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular .box .info {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  padding: 18px 25px 29px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .box .info p.title {
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popular .box .info p.money {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popular .box .info p.money strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popular .box .info p.text {
  margin-top: 6px;
  margin-bottom: 18px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popular .box .info .courses {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 16px;
  margin-right: 26px;
}

.popular .box .info .courses::before,
.popular .box .info .times::before {
  content: "";
  position: absolute;
  left: -16px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.popular .box .info .times {
  position: relative;
  display: flex;
  align-items: center;
}
